.nav {
  position: sticky;
  top: 24px;
  border-radius: 24px;
  z-index: 100;
  margin: 24px;
  border-radius: 16px;
}

.inner {
  height: 100%;
  width: 100%;
  padding: 15px 20px;
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// /* 2x1 - Focus */

// position: absolute;
// width: 1392px;
// height: 47px;
// left: 16px;
// top: 16px;

// /* Rectangle 4 */

// position: absolute;
// width: 1392px;
// height: 47px;
// left: 0px;
// top: 0px;

// background: rgba(255, 255, 255, 0.08);
// background-blend-mode: plus-lighter;
// backdrop-filter: blur(3px);
// /* Note: backdrop-filter has minimal browser support */
// border-radius: 24px;

// /* Symbol */

// position: absolute;
// width: 40px;
// height: 40px;
// left: 1086px;
// top: 19px;

// background: rgba(255, 255, 255, 0.06);
// background-blend-mode: plus-lighter;
// border-radius: 100px;

// /* Symbol */

// position: absolute;
// left: 0px;
// right: 0px;
// top: 0px;
// bottom: 0px;

// font-family: 'SF Pro';
// font-style: normal;
// font-weight: 700;
// font-size: 15px;
// line-height: 18px;
// display: flex;
// align-items: center;
// text-align: center;
// letter-spacing: -0.2px;
// font-feature-settings: 'ss16' on;

// color: #FFFFFF;

// /* Title and Detail */

// /* Auto layout */
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: flex-start;
// padding: 0px;

// position: absolute;
// width: 75px;
// height: 36px;
// left: 1134px;
// top: 21px;

// /* Title */

// width: 75px;
// height: 18px;

// font-family: 'SF Pro';
// font-style: normal;
// font-weight: 510;
// font-size: 15px;
// line-height: 18px;
// /* identical to box height */
// display: flex;
// align-items: center;
// letter-spacing: -0.2px;

// color: #FFFFFF;

// /* Inside auto layout */
// flex: none;
// order: 0;
// align-self: stretch;
// flex-grow: 0;

// /* Detail */

// width: 75px;
// height: 18px;

// font-family: 'SF Pro';
// font-style: normal;
// font-weight: 510;
// font-size: 14px;
// line-height: 18px;
// /* identical to box height, or 129% */
// display: flex;
// align-items: center;
// letter-spacing: -0.08px;

// color: rgba(255, 255, 255, 0.33);

// /* Inside auto layout */
// flex: none;
// order: 1;
// align-self: stretch;
// flex-grow: 0;

// /* MyPlatform */

// position: absolute;
// width: 111px;
// height: 25px;
// left: 31px;
// top: 12px;

// font-family: 'Bowlby One';
// font-style: normal;
// font-weight: 400;
// font-size: 16px;
// line-height: 25px;
// /* identical to box height */
// display: flex;
// align-items: center;
// letter-spacing: -0.2px;

// color: #FFFFFF;
